body {
  font-family: "Roboto", sans-serif !important;
  color: rgb(34, 34, 34) !important; 
}

p, ul {
  font-size: 18px;
}

@media (max-width: 768px) {
  /* For a screen < 540px, this CSS will be read */

  .banner h1 {
    font-size: 36px !important;
  }
}

iframe {
  width: 100%; 
  height: 224px;
}

/* Main navbar */
.navbar-wagon {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.05),0 1px 0 0 rgba(0,0,0,0.03);
    background: white;
    transition: all 0.3s ease;
    height: 60px;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .navbar-wagon-left {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Logo */
  .navbar-wagon .logo {
    height: 40px;
    padding-bottom: 5px;
  }
  
  /* Right section */
  .navbar-wagon-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Basic navbar item */
  .navbar-wagon-item {
    cursor: pointer;
    padding: 0 20px;
  }
  
  /* Navbar link */
  .navbar-wagon-link {
    color: rgb(34, 34, 34);
    font-size: 14px;
  }
  .navbar-wagon-link:hover {
    color: #FDAA01;
    text-decoration: none;
    font-size: 14px;
  }

  /* Button */

  .btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 5px;
    background: #01459B;
    transition: background 0.3s ease;
  }
  
  .btn-flat:hover {
    opacity: .8;
    color: white !important; 
  }
  
  /* Banner */

  .banner {
    background-size: cover;
    background-position: center;
    padding: 3% 10%;
    margin-bottom: 20px;
  }
  
  .banner h1 {
    margin-bottom: 20px;
    font-size: 3.4vw;
    font-weight: bold;
  }
  .banner-logos {
    margin-top: 20px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .banner-image {
    height: 450px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .section {
    padding: 3% 10% 5%;
  }

  .background-yellow {
    background-color: rgba(253, 170, 1, 0.1);
  }

  .background-white {
    background-color: white;
  }

  .background-blue {
    background-color: rgba(1, 69, 155, 0.1);
  }

  .background-pink {
    background-color: rgba(242, 100, 25, 0.1);
  }

  .section h2 {

    font-weight: bold;
    margin-bottom: 20px;
  }

  .section h3 {
    font-size: 24px;
    font-weight: medium;
    margin-bottom: 20px;
  }
  .card-module {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin-top: 20px;
    border-radius: 5px;
  }
  .card-module .card-img {
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 10px;
    text-align: center;
  }

  .card-module .subtitle {
    color: white;
    font-size: 14px;
  }

  
  .card-module > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  .card-module h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-module p {
    font-size: 12px;
    color: rgb(34, 34, 34);
  }

  .card-module .card-title {
    position: absolute;

  }
  
  .card-module .card-module-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 140px;
  }

  .description-image {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .card-product {
    border-radius: 5px;
    padding: 16px 16px 32px 16px;
    margin: 0px;
    box-shadow: 0 0 5px rgb(230,230,230);
   
  }
  
  .card-product p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0;
    margin-top: 12px;
  }
  

  .margin-top {
    margin-top: 20px;
  }
  .margin-top-small {
    margin-top: 10px;
  }

  .centered {
    text-align: center;
  }

  .img-partner-logo-dualsun {
    height: 80px;
    padding: 20px 20px 20px 0px;
    margin-bottom: 20px;
  }


  .img-partner-logo {
    height: 100px;
    padding: 20px;
  }

  .partners p {
    font-size: 16px;
  }

  .card-event {
    height: 170px;
    position: relative;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 0 0 px rgb(230,230,230);
  }
  
  .card-event-date {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .card-event-date h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 5px;

  }
  .card-event-date h3 {
    font-size: 12px;
    font-weight: bold;
    color: #01459B;
    margin-top: 10px;
    
  }
  .card-event-date p {
    font-size: 10px;
    /*opacity: 0.7;*/
    font-weight: lighter;
    color: #01459B;
  }
 
  #footer {
    height: 100px;
    text-align: center;
    padding: 20px 0px;
  }

  #footer p {
    font-weight: bold;
    font-size: 14px;
  }

  #footer img {
    height: 50px;
  }

  .iframe-style {
    border: 1px #caccd0 solid; 
    border-radius: 5px;
  }